<h1>Friend Requests</h1>

<ul>
  <% @friend_requests.each do |request| %>
    <li>
      <%= link_to request.username, user_path(request) %>
      <%= link_to "Accept", friendship_path(id: request.id), method: "put" %>
      <%= link_to "Decline", friendship_path(id: request.id), method: :delete %>
    </li>
  <% end %>
</ul>

<h3>Friend Requests sent</h3>
<ul>
  <% @friends_pending.each do |pending| %>
    <li>
      <%= link_to pending.username, user_path(request) %>
    </li>
  <% end %>
</ul>




