<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to odinnetwork.com, <%= @user.username %></h1>
    <p>
      You have successfully signed up to Odin Network! <br>
    </p>
    <p>Head over to your homepage, friend some fellow users, and start writing posts!</p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>