<%= link_to post_like_path(post, post_id: post), method: :delete, remote: true, class: "btn btn-primary accept" do %>
    <span class="glyphicon glyphicon-thumbs-down"></span> 
<% end %>
<strong class="likings"><%= pluralize(post.likes.count, "like") %></strong>