<h1>TOPbook Users</h1>

<ul>
<% @users.each do |user| %>

<li>
    <%= link_to user.first, user_path(user) %>
    <%= link_to user.last, user_path(user) %>
    <% unless current_user == user %>
      <%= link_to "Add friend", friendships_path(friend_id: user), method: :post %>
    <% end %>
</li>

<% end %>
</ul>

