<div class="row">
  <div class="col-md-6">
      <h1 id="prof_pic"><%= gravatar_for @user %></h1>
    <h1 id="prof_name"><%= @user.username %></h1>
  </div>
</div>

  <div class="row">
    <div class="col-md-8 post_feed">
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
        <%= render 'shared/feed' %>
  </div>
</div>



