<div class="row">
    <div class="col-md-8 friend_req">
        <h1><%= current_user.first %>'s Friends</h1>
        <ul>
            <% current_user.all_friends.each do |friend| %>
            <li>
            <%= link_to gravatar_for(friend, size: 20), user_path(friend) %>
            <%= link_to friend.username, user_path(friend) %>
            <%= link_to "(Defriend)", friendship_path(friend), method: :delete %>
            </li>
            <% end %>
        </ul>
    </div>
</div>
