@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */

body {
    background: #e9ebee;
}

.container {
    width: 100%;
    font-size: 12px;
}

a {
    font-color: #365899;
    cursor: pointer; 
    text-decoration: none;
}

.accept {
    background-color: #4267b2;
    border-radius: 0;
}

.decline {
    background-color: #f6f7f9;
    border-color: #ced0d4;
    border-radius: 0;
}

/* navigation */

nav {
    background: #4267b2;
    border-bottom: 1px solid #29874d;
    .header_right {
        height: 15px;
        margin: 15px;
        list-style-type: none;
        float: right;
        li {
            display: inline;
            margin: 15px;
            a {
            color: #fff;
            cursor: pointer;
            }
        }
    }
}

.dropdown-menu {
    li > a {
        color: black !important;
    }
}

/* Forms */

.signup {
    float: right;
    padding-right: 100px;
}

.signin {
    float: right;
}

.settings {
    float: left;
    min-width: 600px;
}

.btn-primary {
    //margin-top: 10px;
}

.post_feed {
    float: right;
    min-width: 600px;
}

.posts {
    list-style-type: none;
    a {
        font-weight: bold;
    }
}

.post_form, .each_post {
    margin-bottom: 17px;
    border: 1px solid #e5e6e9;
    border-radius: 3px;
    background-color: #fff;
    padding: 10px;
    img {
        height: 40px;
        width: 40px;
    }
    .content {
        display: block;
        margin-top: 11px;
        margin-bottom: 11px;
        font-size: 14px;
        border-bottom: 1px solid #e5e6e9;
        padding-bottom: 16px;
    }
    #post_content {
        width: 100%;
        border: none;
    }
}

.user {
    display: inline-block;
    vertical-align: middle;
}

.comment_form {
    margin-top: 15px;
    border-top: 1px solid #e5e6e9;
    #comment_content {
        width: 95%;
        margin: 10px;
        border: 1px solid #bdc7d8;
        padding: 7px;
        padding-bottom: 7px;
        height: 32px;
        &:focus {
            outline: none;
        }
    }
}

.comments {
    background: #f6f7f9;
}

.comment {
    padding: 15px;
}

.comment_options {
    color: #90949c;
}

/* Profile pic */

#prof_pic > img {
    height: 160px;
    width: 160px;
}

#prof_name {
    position: absolute;
    left: 201px;
    bottom: 12px;
    width: 105px;
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
}

.prof_info {
    background: #fff;
    .gravatar {
        height: 50px;
        width: 50px;
    }
    ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        float: left;
        list-style: none;
        padding: 10px;
    }
}

/* Homepage */

.home_feed {
    max-width: 600px;
    margin: auto;
    float: none;
}

/* Friends */

.friend_req, .req_pending {
    background: #fff;
    text-align: center;
    border-color: #e5e6e9;
    margin-bottom: 20px;
    margin-left: 25px;
    ul {
        list-style-type: none;
        text-align: left;
        margin: 20px;
        li {
            /*border-top: 1px solid #e5e6e9;*/
            padding-top: 20px;
            padding-bottom: 20px;
            .gravatar {
                height: 50px;
                width: 50px;
            }
        }
    }
}







