@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal */
body {
    background: #e9ebee;
}

.container {
    width: 100%;
}

/* navigation */

nav {
    background: #4267b2;
    border-bottom: 1px solid #29874d;
    .header_right {
        height: 15px;
        margin: 15px;
        list-style-type: none;
        float: right;
        li {
            display: inline;
            margin: 15px;
            a {
            color: #fff;
            cursor: pointer;
            }
        }
    }
}

.dropdown-menu {
    li > a {
        color: black !important;
    }
}

/* Forms */

.signup {
    float: right;
    padding-right: 100px;
}

.signin {
    float: right;
}

.btn-primary {
    //margin-top: 10px;
}

.post_feed {
    float: right;
    min-width: 600px;
}

.posts {
    list-style-type: none;
}

.post_form, .each_post {
    margin-bottom: 17px;
    border: 1px solid #e5e6e9;
    border-radius: 3px;
    background-color: #fff;
    padding: 10px;
    img {
        height: 40px;
        width: 40px;
    }
    .content {
        display: block;
        margin-left: 60px;
    }
    #post_content {
        width: 100%;
        border: none;
    }
}

/* Profile pic */

#prof_pic > img {
    height: 160px;
    width: 160px;
}

#prof_name {
    position: absolute;
    left: 201px;
    bottom: 12px;
    width: 105px;
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,.8);
}

/* Homepage */

.home_feed {
    width: 500px;
}








